<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:context="http://www.springframework.org/schema/context"
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd">
    <!--  DAO -->    
    <bean id="menuDao" class="org.smqk.module.content.dao.impl.MenuDaoImpl" parent="baseDao" />
    <bean id="customerCaseDao" class="org.smqk.module.content.dao.impl.CustomerCaseDaoImpl" parent="baseDao" />

    <!-- Service -->
    <bean id="menuService" class="org.smqk.module.content.service.impl.MenuServiceImpl">
    	<property name="menuDao" ref="menuDao" />
    </bean>
    <bean id="customerCaseService" class="org.smqk.module.content.service.impl.CustomerCaseServiceImpl">
    	<property name="customerCaseDao" ref="customerCaseDao" />
    </bean>
    
</beans>